@model KioskIndexModel

@{
    ViewData["Title"] = "Home Page";
    var kioskId = ViewData["KioskID"] as string;
    var currentTime = DateTime.Now.ToString("D");
}
<div class="container d-flex flex-column justify-content-center align-items-center h-100">
    <div id="connectionError" class="alert alert-danger mb-4" style="display: none;" role="alert">
        @KioskIndexModel.GetLanguage("Server is currently down. Please wait while we try to reconnect...")
    </div>

    <div id="loadingAnimation" class="text-center mb-4" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <p class="mt-2">Connecting to server...</p>
    </div>

    <div id="content" style="display: none;">
        <div class="text-center">
            <h1 class="display-4 mb-4">
                @KioskIndexModel.GetLanguage("Welcome")
            </h1>
            <div id="clock" style="font-size: calc(1vw + 1vh); ">
                @currentTime
            </div>
        </div>
         <div id="pv" class="form-group" style="text-align:center">

        <div style="font-size: calc(2vw + 4vh); margin: 1%;">
            @KioskIndexModel.GetLanguage("TouchToStart")
        </div>
    </div>
    </div>


   

  
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/signalR.js"></script>
<script>
   

    function touch() {
        $("body").unbind("click");
                loadSegmentView();

    }

    window.onload = function () {
         $("body").unbind("click");
        $("body").on('click', function (event) {
            touch();
        });
       
    };
    var kioskId = '@kioskId';



    var huburl = 'http://localhost:7258/communicationHub/?branchId=1111&branchName=IST&clientType=Kiosk&clientName=$TestKIosk&clientId=666&eventId=Waiting;Waiting_T;Service;Park;Final';
    var connection = new signalR.HubConnectionBuilder().withUrl(huburl).build();

    var retryInterval = 5000; // Retry connection every 5 seconds

    function startConnection() {
        connection.start().then(function () {
            console.log("Connected to Communication Hub.");

            sendMessageToDesk("Kiosk is Connected");

            // Connection successful, hide error message and show content
            $("#connectionError").hide();
            $("#loadingAnimation").hide();
            $("#content").show();
        }).catch(function (err) {
            console.error(err.toString());

            // Connection failed, show error message and retry after interval
            $("#connectionError").show();
            $("#loadingAnimation").hide();
            $("#content").hide();

            setTimeout(startConnection, retryInterval);
        });
    }

    function sendMessageToDesk(message) {
        connection.invoke("SendMessageToDesk", message).catch(function (err) {
            console.error(err.toString());
        });
    }

    // Start initial connection
    startConnection();

    // Define an endpoint to handle incoming messages from the server
    connection.on("ReceiveMessage", function (message) {
        // Process the received message here, e.g., update UI
        console.log("Message received from server:", message);
    });

    // Reconnect if the connection is lost
    connection.onclose(startConnection);

</script>
