@using QLite.Data;
@{
    var services = ViewBag.Services as List<ServiceType>;
}
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="row">
        @foreach (var service in services)
        {
            <div class="col-md-12 mb-3">
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" style="font-size: 2rem; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);" onclick="svcTypeSelected('@service.Oid')">@service.Name</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    async function svcTypeSelected(svcTypeId) {
       

        let ticket = await postHttpReq('Service/GetTicket', JSON.stringify({ "ServiceTypeId": svcTypeId}));

        $('#content').html(ticket);

        //loadTicketView(ticket);
    }

</script>