
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid">
        <!--begin::Wrapper-->
        <div class="d-flex flex-stack mb-5">
            <!-- Your wrapper content goes here if needed -->
            <div class="container mt-5">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dateRangeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Timeframe
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dateRangeDropdown">
                        <li><a class="dropdown-item" href="#" data-range="today">Today</a></li>
                        <li><a class="dropdown-item" href="#" data-range="this-week">1 Week</a></li>
                        <li><a class="dropdown-item" href="#" data-range="last-30-days">Last 30 Days</a></li>
                        <li><a class="dropdown-item" href="#" data-range="this-year">This Year</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" data-range="custom">Custom Pick</a></li>
                    </ul>
                </div>
                <!-- Custom date range inputs, initially hidden -->
                <div id="customDateRange" class="row mt-3" style="display: none;">
                    <div class="col-md-6">
                        <label for="startDateTS" class="form-label">Start Date :</label>
                        <input type="date" class="form-control" id="startDateTS">
                    </div>
                    <div class="col-md-6">
                        <label for="endDateTS" class="form-label">End Date :</label>
                        <input type="date" class="form-control" id="endDateTS">
                    </div>
                </div>
            </div>


        </div>
        <!--end::Wrapper-->
        <!--begin::Datatable-->

        <div id="Wrapper">
            <table id="ticketStateTable" class="table table-striped border rounded gy-5 gs-7" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <thead>
                    <tr class="fw-semibold fs-6 text-gray-800">
                        <th class="min-w-150px" data-priority="1">Desk</th>
                        <th>Called Tickets</th>
                        <th>Transfered Tickets</th>
                        <th>Parked</th>
                        <th>Average Waiting Duration</th>
                        <th>Average Service Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your table body content goes here -->
                </tbody>
            </table>
        </div>
        <!--end::Datatable-->
        <div id="serviceTypePieChart"></div>
    </div>
</div>

<script src="~/js/reports.js"></script>
