@model IEnumerable<PortalPOC.Models.GenericModel>

<h2>Table Data</h2>

<table>
    <!-- Display table columns dynamically -->
    <tr>
        @foreach (var prop in typeof(GenericModel).GetProperties())
        {
            <th>@prop.Name</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @foreach (var prop in item.GetType().GetProperties())
            {
                <td>@prop.GetValue(item)</td>
            }
        </tr>
    }
</table>
