<!--begin::Logo-->
<div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo" style="padding-top: 1rem; margin-bottom: 0.5rem;">
    <!--begin::Logo image-->
    <a >
        <img alt="Logo" src="~/img/logos.png" class="app-sidebar-logo-default" style="height: 3rem; margin: 2rem 1rem;" />
        <img alt="Logo" src="~/img/quavisMiniLogo.png" class="h-20px app-sidebar-logo-minimize" />
    </a>
    <!--end::Logo image-->

    <div id="kt_app_sidebar_toggle"
         class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 start-100 translate-middle rotate active"
         data-kt-toggle="true"
         data-kt-toggle-state="active"
         data-kt-toggle-target="body"
         data-kt-toggle-name="app-sidebar-minimize">
        <i class="ki-solid ki-black-left-line fs-3 rotate-180"></i>
    </div>
    <!--end::Sidebar toggle-->
</div>
<!--end::Logo-->