<!--begin::Toolbar wrapper-->
<div class="topbar d-flex align-items-stretch flex-shrink-0">
    <!--begin::Search-->
    <div class="d-flex align-items-stretch">
        <!--layout-partial:partials/search/_dropdown.html-->
    </div>
    <!--end::Search-->
    <!--begin::Notifications-->
    <div class="d-flex align-items-stretch">
        <!--begin::Menu wrapper-->
        <div class="topbar-item px-3 px-lg-4 position-relative" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
            <i class="ki-solid ki-soft-3 fs-1"></i>
        </div>
        <!--layout-partial:partials/menus/_notifications-menu.html-->
        <!--end::Menu wrapper-->
    </div>
    <!--end::Notifications-->
    <!--begin::Chat-->
    <div class="d-flex align-items-stretch">
        <!--begin::Menu wrapper-->
        <div class="topbar-item px-3 px-lg-4 position-relative" id="kt_drawer_chat_toggle">
            <i class="ki-solid ki-tablet-text-down fs-1"></i>
            <span class="bullet bullet-dot bg-success h-6px w-6px position-absolute translate-middle top-0 mt-4 start-50 animation-blink">
            </span>
        </div>
        <!--end::Menu wrapper-->
    </div>
    <!--end::Chat-->
    <!--begin::Quick links-->
    <!--end::Quick links-->
    <!--begin::Theme mode-->
    <div class="d-flex align-items-center">
        @await Html.PartialAsync("partials/theme-mode/_main")

    </div>
    <!--end::Theme mode-->
    <!--begin::User-->
    <!--end::User -->
    <!--begin::Heaeder menu toggle-->
    <div class="d-flex align-items-stretch d-lg-none px-3 me-n3" title="Show header menu">
        <div class="topbar-item" id="kt_header_menu_mobile_toggle">
            <i class="ki-solid ki-burger-menu-2 fs-1"></i>
        </div>
    </div>
    <!--end::Heaeder menu toggle-->
</div>
<!--end::Toolbar wrapper-->