<!--begin::Content menu-->
<div class="app-content-menu menu menu-rounded bg-gray-200 menu-state-bg flex-wrap fs-5 fw-bold mt-n15 pt-5 pb-0 mb-7 gap-1">
			<!--begin::Menu item-->
		<div class="menu-item m-0 p-0">
			<a class="menu-link py-3 px-4 active" href="?page=index">
                <span class="menu-title">Summary</span>
			</a>
		</div>
		<!--end::Menu item-->
			<!--begin::Menu item-->
		<div class="menu-item m-0 p-0">
			<a class="menu-link py-3 px-4 " href="?page=apps/projects/list">
                <span class="menu-title">Projects</span>
			</a>
		</div>
		<!--end::Menu item-->
			<!--begin::Menu item-->
		<div class="menu-item m-0 p-0">
			<a class="menu-link py-3 px-4 " href="?page=apps/subscriptions/list">
                <span class="menu-title">Subscriptions</span>
			</a>
		</div>
		<!--end::Menu item-->
			<!--begin::Menu item-->
		<div class="menu-item m-0 p-0">
			<a class="menu-link py-3 px-4 " href="?page=apps/file-manager/folders">
                <span class="menu-title">Files</span>
			</a>
		</div>
		<!--end::Menu item-->
			<!--begin::Menu item-->
		<div class="menu-item m-0 p-0">
			<a class="menu-link py-3 px-4 " href="?page=apps/support-center/contact">
                <span class="menu-title">Support</span>
			</a>
		</div>
		<!--end::Menu item-->
			<!--begin::Menu item-->
		<div class="menu-item m-0 p-0">
			<a class="menu-link py-3 px-4 " href="?page=apps/customers/list">
                <span class="menu-title">Customers</span>
			</a>
		</div>
		<!--end::Menu item-->
	</div>
<!--begin::Content menu-->