<!--begin::Hero-->
<div id="kt_app_hero" class="app-hero  py-6 ">
            <!--begin::Hero container-->
        <div id="kt_app_hero_container" class="app-container  container-xxl d-flex ">
<!--begin::Hero wrapper--->
<div class="d-flex flex-stack flex-wrap flex-lg-nowrap flex-row-fluid gap-4 gap-lg-10 mb-10">
    <!--begin::Heading-->
	<div class="d-flex align-items-center me-3">
				@*<img alt="Logo" src="~/images" class="h-60px me-5" />*@
		<!--begin::Title-->
		<h1 class="page-heading d-flex text-white fw-bolder fs-2 flex-column justify-content-center my-0">
			QLite
			<!--begin::Description-->
			<span class="page-desc text-white opacity-50 fs-6 fw-bold pt-4">
				Desk Application
			</span>
			<!--end::Description-->
		</h1>
		<!--end::Title-->
	</div>
	<!--end::Heading-->
    <!--begin::Items-->
	<div class="d-flex gap-4 gap-lg-13">
					<!--begin::Item-->
			<div class="d-flex flex-column">
				<!--begin::Number-->
				<span class="text-white fw-bold fs-3 mb-1">10</span>
				<!--end::Number-->
				<!--begin::Section-->
				<div class="text-white opacity-50 fw-bold">Total Waiting Tickets</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
					<!--begin::Item-->
			<div class="d-flex flex-column">
				<!--begin::Number-->
				<span class="text-white fw-bold fs-3 mb-1">2</span>
				<!--end::Number-->
				<!--begin::Section-->
					<div class="text-white opacity-50 fw-bold">Total Parked Tickets</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
					<!--begin::Item-->
			<div class="d-flex flex-column">
				<!--begin::Number-->
				<span class="text-white fw-bold fs-3 mb-1">3</span>
				<!--end::Number-->
				<!--begin::Section-->
					<div class="text-white opacity-50 fw-bold">Total Transfered Tickets</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
					<!--begin::Item-->
			<div class="d-flex flex-column">
				<!--begin::Number-->
				<span class="text-white fw-bold fs-3 mb-1">Status</span>
				<!--end::Number-->
				<!--begin::Section-->
				<div class="text-white opacity-50 fw-bold">Available</div>
				<!--end::Section-->
			</div>
			<!--end::Item-->
	</div>
	<!--end::Items-->
</div>
<!--end::Hero wrapper--->         </div>
        <!--end::Hero container-->
    </div>
<!--end::Hero-->