@inject IConfiguration Configuration

<div id="connectionError" class="alert alert-danger mb-4" style="display: none;" role="alert">
    Server is currently down. Please wait while we try to reconnect...
</div>

<div id="content">
@if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @*@await Html.PartialAsync("Components/WaitingTickets")*@
                <partial name="Components/WaitingTickets" />

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        @*@await Html.PartialAsync("Components/MainPanel")*@
                        <partial name="Components/MainPanel" />
                    </div>
                    <div class="col-md-12 mb-4">
                        @*@await Html.PartialAsync("Components/CompletedTickets")*@
                        <partial name="Components/CompletedTickets" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/signalR.js"></script>
    <script src="~/js/site.js"></script>

    <script src="~/JQuery/jquery-3.7.1.js"></script>
    <script src="~/DataTables/datatables.js"></script>
    <script src="~/js/TableMethods.js"></script>

    <script>
            var apiUrl = '@Configuration["APIBase"]';

            connectToHub("User", "123", "DeskGroup", apiUrl)
    </script>

}
else
{
    <span> Log in, please </span>
}
</div>