@if (User != null && User.Identity != null && User.Identity.IsAuthenticated == true)
{
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                @await Html.PartialAsync("Components/WaitingTickets")
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                        @await Html.PartialAsync("Components/MainPanel")
                        </div>
                        <div class="col-md-12 mb-4">
                        @await Html.PartialAsync("Components/CompletedTickets")
                        </div>
                    </div>
                </div>

            </div>
        </div>
}
else
{
        <span> LogIn Please </span>
}