<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar  d-flex flex-column py-6 "
         >
    @await Html.PartialAsync("layout/partials/_content-menu")
    @await Html.PartialAsync("layout/partials/_content-menu")

<!--begin::Toolbar wrapper-->
<div class="app-toolbar-wrapper d-flex align-items-center flex-stack flex-wrap gap-2 py-4 w-100">
        @await Html.PartialAsync("layout/partials/_page-title")

    <!--begin::Actions-->
    <div class="d-flex align-items-center gap-2 gap-lg-3">
        <a href="#" class="btn btn-flex btn-outline btn-gray-700 btn-active-color-primary bg-body h-40px fs-7 fw-bold"  data-bs-toggle="modal" data-bs-target="#kt_modal_view_users">
            Add Member
        </a>
        <a href="#" class="btn btn-flex btn-primary h-40px fs-7 fw-bold"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">
            New Campaign
        </a>
    </div>
    <!--end::Actions-->
</div>
<!--end::Toolbar wrapper-->    </div>
<!--end::Toolbar-->