<!--begin::Toolbar-->
<div class="toolbar py-2" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
        <!--begin::Page title-->
        <div class="flex-grow-1 flex-shrink-0 me-5">
            @await Html.PartialAsync("layout/_page-title")
        </div>
        <!--end::Page title-->
        <!--begin::Action group-->
        <div class="d-flex align-items-center flex-wrap">
            <!--begin::Wrapper-->
            <div class="flex-shrink-0 me-2">
                <!-- Row for posX and posY -->
                <div class="row mb-3">

                    <div class="col">
                        <label for="posXInput" class="form-label">Selected Component</label>
                        <input type="text" class="form-control" id="selectedComp" disabled>
                    </div>
                    <div class="col">
                        <label for="posXInput" class="form-label">Position X:</label>
                        <input type="text" class="form-control" id="posXInput" disabled>
                    </div>
                    <div class="col">
                        <label for="posYInput" class="form-label">Position Y:</label>
                        <input type="text" class="form-control" id="posYInput" disabled>
                    </div>
                    <div class="col">
                        <label for="widthInput" class="form-label">Width:</label>
                        <input type="text" class="form-control" id="widthInput">
                    </div>
                    <div class="col">
                        <label for="heightInput" class="form-label">Height:</label>
                        <input type="text" class="form-control" id="heightInput">
                    </div>
                </div>

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Action group-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
