<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <title>@ViewData["Title"] - DeskApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/DeskApp.styles.css" asp-append-version="true" />

    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <link href="~/DataTables/DataTables-1.13.8/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link href="~/DataTables/datatables.css" rel="stylesheet">
        <link href="~/lib/swal/sweetalert2.css" rel="stylesheet">
        <script src="~/js/popper.min.js"></script>
    
    <!--end::Global Stylesheets Bundle-->

    <script>
        // Frame-busting to prevent the site from being loaded within a frame without permission (click-jacking)
        if (window.top != window.self) {
            window.top.location.replace(window.self.location.href);
        }
    </script>
</head>
<!--begin::Body-->
<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-toolbar-enabled="false" class="app-default">
    @*@await Html.PartialAsync("partials/theme-mode/_init")*@
    <partial name="partials/theme-mode/_init" />

    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">

            @*@await Html.PartialAsync("layout/partials/_header")*@
            <partial name="layout/partials/_header" />



            <!--begin::Wrapper-->
            <div class="app-wrapper  flex-column flex-row-fluid " id="kt_app_wrapper">
                @if (User != null && User.Identity != null && User.Identity.IsAuthenticated == true)
                {
                    @*@await Html.PartialAsync("layout/partials/_hero")*@
                    <partial name="layout/partials/_hero" />
                }
                <!--begin::Wrapper container-->
                <div class="app-container  container-xxl ">
                    <!--begin::Main-->
                    <div class="app-main flex-column flex-row-fluid " id="kt_app_main">
                        <!--begin::Content wrapper-->
                        <div class="d-flex flex-column flex-column-fluid">



                            @RenderBody()


                        </div>
                        <!--end::Content wrapper-->
                        @if (User != null && User.Identity != null && User.Identity.IsAuthenticated == true)
                        {
                            @*@await Html.PartialAsync("layout/partials/_footer")*@
                            <partial name="layout/partials/_footer" />

                        }

                    </div>
                    <!--end:::Main-->
                </div>
                <!--end::Wrapper container-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::App-->
    <!--layout-partial:partials/_drawers.html-->
    @*@await Html.PartialAsync("partials/_scrolltop")*@
    <partial name="partials/_scrolltop" />


    <!--begin::Modals-->
    <!--end::Modals-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
    <script src="~/JQuery/jquery-3.7.1.js"></script>
    <script src="~/DataTables/datatables.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
  
    <script src="~/js/popper.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


     <script src="~/lib/swal/sweetalert2.all.js"></script>
    



    <!--end::Global Javascript Bundle-->
   
    


    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>
