<!--Transfer Modal -->
<div class="modal fade" id="transferTicketModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transfer Ticket</h5>
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body">
                <label>Transfer to :</label>
                <select id="deskDropdown" class="form-control" onchange="enableTransferTicketButton()">
                    <!-- Dropdown options will be added dynamically here -->
                </select>

                <label>Service :</label>
                <select id="serviceDropdown" class="form-control" onchange="enableTransferTicketButton()">
                    <!-- Dropdown options will be added dynamically here -->
                </select>
                <label>Note :</label>

                <input type="text" id="transferTicketNote" class="form-control" placeholder="Enter Note">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="transferTicketButton" onclick="TransferTicket()" disabled>OK</button>
            </div>
        </div>
    </div>
</div>