<!--begin::Page title-->
<div class="page-title d-flex flex-column justify-content-center gap-2 me-3">
    <!--begin::Title-->
    <h1 class="page-heading d-flex flex-column justify-content-center text-gray-900 fw-bolder fs-1 m-0">
        PintaTravel
                    <!--begin::Description-->
            <span class="page-desc text-muted fs-7 fw-semibold">
                            </span>
            <!--end::Description-->
            </h1>
    <!--end::Title-->
    </div>
<!--end::Page title-->