<!DOCTYPE html>
<html>
<head>
    <base href="" />
    <title>@ViewData["Title"] - Designer App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <link rel="shortcut icon" href="~/img/Qlite-mini.png" />
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->

    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/Designer.style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/swal/sweetalert2.css" rel="stylesheet">



    <script src="~/lib/popper.min.js"></script>

</head>

<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed">


    <!--end::Page loading-->
    @await Html.PartialAsync("partials/theme-mode/_init")

    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            @await Html.PartialAsync("layout/aside/_base")

            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                @await Html.PartialAsync("layout/header/_base")

                @await Html.PartialAsync("layout/_toolbar")

                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">


                    @RenderBody()

                </div>
                <!--end::Content-->
                @await Html.PartialAsync("layout/_footer")

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    @await Html.PartialAsync("partials/_drawers")

    <!--end::Main-->
    @await Html.PartialAsync("partials/_scrolltop")


    <!--begin::Modals-->
    @await Html.PartialAsync("modals/ComponentModal")

    <!--end::Modals-->
    <!--begin::Javascript-->
   

    <script src="~/JQuery/jquery-3.7.1.js"></script>

    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/Designer.scripts.bundle.js"></script>
    <script src="~/lib/swal/sweetalert2.all.js"></script>

    <script src="~/js/interact.js"></script>

    <script src="~/js/htmlToImage.js"></script>

    <script src="~/js/DragAndDrop.js"></script>
    <script src="~/js/Designer.js"></script>


    @RenderSection("scripts", required: false)
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>
