@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
    <!--begin::Search-->
    <div class="app-navbar-item align-items-stretch ms-1 ms-lg-3">
        @*        @await Html.PartialAsync("partials/search/_dropdown")
        *@
    </div>
    <!--end::Search-->
    <!--begin::Activities-->
    <div class="app-navbar-item ms-1 ms-lg-3">
        <!--begin::Drawer toggle-->
        <div class="btn btn-icon btn-icon-white btn-custom btn-active-color-primary w-35px h-35px w-md-40px h-md-40px" id="kt_activities_toggle">
            <i class="ki-solid ki-element-11 fs-1"></i>
        </div>
        <!--end::Drawer toggle-->
    </div>
    <!--end::Activities-->
    <!--begin::Notifications-->
    <div class="app-navbar-item ms-1 ms-lg-3">
        <!--begin::Menu- wrapper-->
        <div class="btn btn-icon btn-icon-white btn-custom btn-active-color-primary w-35px h-35px w-md-40px h-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <i class="ki-solid ki-notification-status fs-1"></i>
        </div>
        @*  @await Html.PartialAsync("partials/menus/_notifications-menu")*@

        <!--end::Menu wrapper-->
    </div>
    <!--end::Notifications-->
    <!--begin::User menu-->
    <div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
        <!--begin::Menu wrapper-->
        <div class="cursor-pointer symbol symbol-35px"
             data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
             data-kt-menu-attach="parent"
             data-kt-menu-placement="bottom-end">
            <i class="ki-solid ki-setting-2 fs-1"></i>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("partials/menus/_user-account-menu")

            
        }
        else
        {
            <a href="@Configuration["SiteDomain"]/Account/Login" style="margin: auto 2rem auto auto !important;">
                <button type="button" class="btn btn-secondary">
                    Click to Login
                </button>
            </a>
        }
        <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
    <!--begin::Sidebar menu toggle-->
    <!--end::Sidebar menu toggle-->
</div>
<!--end::Navbar-->
