
<div id="connectionError" class="alert alert-danger mb-4" style="display: none;" role="alert">


    @ViewHelper.GetLanguage("wsError")
</div>

<div id="AuthError" class="alert alert-danger mb-4" style="display: none;" role="alert">
    @ViewHelper.GetLanguage("authError")
</div>


<div id="Errors" style="display:none; font-family: Arial, sans-serif;">
    <div id="divooo" style="text-align:center;">
        <img src="~/media/ooo2.png" />
        <div style="margin-top: 20px;">
            <div id="Printer" style="display: inline-block; margin-right: 20px;">
                <img src="~/media/printerError.png" style="width: 100px; height: auto;" />
                <span id="PrinterStatus" style="display: block; font-weight: bold; margin-top: 10px;font-size: large;">Printer is disconnected</span>
            </div>
            <div id="Display" style="display: inline-block; margin-right: 20px;">
                <img src="~/media/displayError.png" style="width: 100px; height: auto;" />
                <span id="DisplayStatus" style="display: block; font-weight: bold; margin-top: 10px;font-size: large;">Display is disconnected</span>
            </div>
            <div id="Terminal" style="display: inline-block;">
                <img src="~/media/terminalError.png" style="width: 100px; height: auto;" />
                <span id="TerminalStatus" style="display: block; font-weight: bold; margin-top: 10px;font-size: large;">Terminal is disconnected</span>
            </div>
        </div>
    </div>
</div>

