@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


<!--begin::Toolbar wrapper-->
<div class="app-navbar flex-shrink-0">
    <!--begin::DropDown-->
    <div class="app-navbar-item align-items-stretch ms-1 ms-md-4">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="btn-group" style="margin: auto 2rem auto auto !important;">
                <!--begin::Theme mode-->
                <div class="d-flex align-items-center ms-1 ms-lg-3">
                    @await Html.PartialAsync("partials/theme-mode/_main")

                </div>
                <!--end::Theme mode-->
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ki-outline ki-user fs-2" style="color: #767676 !important;"> </i> @User?.Identity?.Name
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="@Configuration["OpenIdConnect:Authority"]">Auth Server</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/Account/Logout">Logout</a></li>
                </ul>


            </div>
        }
        else
        {
            <a href="@Configuration["SiteDomain"]/Account/Login" style="margin: auto 2rem auto auto !important;">
                <button type="button" class="btn btn-secondary">
                    Click to Login
                </button>
            </a>
        }

    </div>
    <!--end::DropDown-->
    <!--begin::Header menu toggle-->
    <div class="app-navbar-item d-lg-none ms-2 me-n2" title="Show header menu">
        <div class="btn btn-flex btn-icon btn-active-color-primary w-30px h-30px" id="kt_app_header_menu_toggle">
            <i class="ki-solid ki-element-4 fs-1"></i>
        </div>
    </div>
    <!--end::Header menu toggle-->
</div>
<!--end::Toolbar wrapper-->