@inject IConfiguration Configuration
<
    
!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="" />
    <title>Kiosk App</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />

    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="~/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    <!--end::Global Stylesheets Bundle-->
    @*  <script>
    // Frame-busting to prevent site from being loaded within a frame without permission (click-jacking)
    if (window.top != window.self) {
    window.top.location.replace(window.self.location.href);
    }
    </script>*@
</head>
<!--end::Head-->
<body id="kt_app_body"  class="app-default">

    @RenderBody()


    <!--begin::Javascript-->
    <script>
        var hostUrl = "assets/";</script>
    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
    <script src="~/plugins/global/plugins.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used for this page only)-->
    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used for this page only)-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Routes.js" asp-append-version="true"></script>

    <script src="~/js/signalR.js"></script>

    <script src="~/js/Logic.js"></script>
    <script>
        const apiUrl = '@Configuration["APIBase"]';
        const kioskID = '@Configuration["KioskID"]';
    </script>

    @await RenderSectionAsync("Scripts", required: false)
    <!--end::Custom Javascript-->
    <!--end::Javascript-->
</body>


</html>
