




<div class="alert alert-danger d-flex align-items-center" role="alert">
    <div>
        <p>An invalid session fingerprint has been detected. This could indicate a few things:</p>
        <ul>
            <li>This is your first time logging in.</li>
            <li>Your IP address has changed since your last session.</li>
            <li>You have switched to a different web browser.</li>
            <li>There was an attempt to steal your cookie.</li>
        </ul>
        <p>Please log in again to solve the issue.</p>
        <a href="/Account/Login" style="margin: auto 2rem auto auto !important;">
            <button type="button" class="btn btn-primary">
                Click Here to Login
            </button>
        </a>
    </div>
</div>