





<div style="width:50%;">
    <div class="alert alert-success d-flex align-items-center p-5">
        <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"><span class="path1"></span><span class="path2"></span></i>
        <div class="d-flex flex-column">
            <h4 class="mb-1 text-dark">Success 🎉</h4>
            <span>Your password has been updated.</span>
        </div>
    </div>
</div>