html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
        display: none;
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
.drag-icon {
    background-image: url("../locate.png");
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
}

.panel-icon {
    background-image: url("../showprops.png");
    width: 17px;
    height: 17px;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;
}

.guide-line {
    pointer-events: none;
    background: red;
    position: fixed;
    display: flex;
    justify-items: space-between;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
}

    .guide-line > span {
        font-size: 9px;
        line-height: 0;
        color: red;
        position: absolute;
    }

.guide-line-x > span {
    transform: translateX(-50%);
    left: 50%;
}

.guide-line-y {
    flex-direction: row;
}

.guide-line-x {
    flex-direction: column;
}

.guide-line-y > span {
    transform: translateY(-50%);
    top: 50%;
}

/* Styles for the custom dropdown */
.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: none; /* Hide the original select element */
    }

    .custom-select .select-selected {
        display: flex;
        align-items: center;
        padding: 10px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
    }

        .custom-select .select-selected img {
            margin-right: 10px;
            max-height: 100%;
        }

    .custom-select .select-items {
        display: none;
        position: absolute;
        background-color: #fff;
        width: 100%;
        border: 1px solid #ccc;
        z-index: 1;
    }

        .custom-select .select-items div {
            padding: 10px;
            cursor: pointer;
        }

            .custom-select .select-items div:hover {
                background-color: #f1f1f1;
            }



.custom-popup-class {
    width: 600px; 
    height: 600px;

    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
}
.swal2-container .swal2-html-container {

    max-height :350px
}

#kt_content {
    transition: transform 0.2s ease; /* Smooth transition for zooming */
    overflow: hidden; /* Hide overflow content */
}

.grey-dots {
    border-top: 3px dotted grey; /* This sets the top border to a dotted line with a grey color */
}