<div class="col-md-6 col-xl-12">
    <!--begin::Card-->
    <div class="card bg-light shadow-sm">

        <div class="card-header">
            <h3 class="card-title">Completed Tickets</h3>
        </div>

        <div class="card-body ">
            <table id="CompletedTable" class="table" style="width:100%;">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Ticket Number</th>
                        <th>Service</th>
                        <th>Segment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="fw-bold fs-6 text-gray-800">
                    <!-- Table body content will be dynamically populated -->
                </tbody>
            </table>
        </div>
    </div>
    <!--end::Card-->
</div>

