<div class="flex-column">

    <div class="card mb-3" >
        <div class="card-body">
            <h5 class="card-title">Welcome to Quavis Kiosk Admin</h5>
            <p class="card-text">
                Here you can manage kiosk applications.
            </p>
            @* <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> *@
        </div>
    </div>

    <img src="~/img/homepage.jpg" class="logo" style="display:inline; width:30rem; margin:0 0 4rem 0;">

</div>
