@{
    ViewData["Title"] = "Home Page";
}

<!-- Views/Home/Index.cshtml -->
<h2>Table Selection</h2>


<a asp-controller="Generic" asp-action="Index" asp-route-tableName="Products">
    <span>Products</span>
</a>
<a asp-controller="Generic" asp-action="Index" asp-route-tableName="Employees">
    <span>Employees </span>
</a>
<a asp-controller="Generic" asp-action="Index" asp-route-tableName="Customers ">
    <span>Customers  </span>
</a>

