<div class="d-flex flex-column flex-center text-center p-10">
    <!--begin::Wrapper-->
    <div class="card card-flush w-md-650px py-5">
        <div class="card-body py-15 py-lg-20">

            <!--begin::Logo-->
            <div class="mb-7">
                <a class="">
                    <img alt="Logo" src="~/images/Qlite-mini.png" class="h-50px">
                </a>
            </div>
            <!--end::Logo-->
            <!--begin::Title-->
            <h1 class="fw-bolder text-gray-900 mb-5">
                Welcome to Desk Application
            </h1>
            <!--end::Title-->
            <!--begin::Text-->
            <div class="fw-semibold fs-6 text-gray-500 mb-7">
                Manage your queues efficiently
                <br>
                and provide an exceptional customer experience.
            </div>
            <!--end::Text-->
            <!--begin::Illustration-->
            <div class="mb-0">
                <img src="~/images/welcome.png" class="mw-100 mh-300px theme-light-show" alt="">
                <img src="~/images/welcome-dark.png" class="mw-100 mh-300px theme-dark-show" alt="">
            </div>
            <!--end::Illustration-->


        </div>
    </div>
    <!--end::Wrapper-->
</div>