@*TimeOut*@

<div class="mb-3" id="TimeOutField">
    <label for="TimeOut" class="form-label">Page Timeout (In Seconds) : </label>
    <input type="text" class="form-control" id="TimeOut" placeholder="Enter button text">
</div>




<button id="saveButton" >Save</button>