<div class="container-fluid p-3">


    <!-- Timeout Field Section -->
    <div id="TimeOutField" class="mb-4">
        <label for="TimeOut" class="form-label">Page Timeout (In Seconds):</label>
        <input type="text" class="form-control mb-3" id="TimeOut" placeholder="Enter timeout in seconds">
    </div>

    <button id="saveButton" class="btn btn-primary" type="button">Save</button>
</div>