<div class="menu-sub menu-sub-dropdown menu-sub-indention px-2 py-4 w-250px mh-75 overflow-auto">
    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu content-->
        <div class="menu-content "><span class="menu-section fs-5 fw-bolder ps-1 py-1">Main Components</span></div>
        <!--end:Menu content-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link active" id="segmentButton">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Segment</span>
        </a>
        <!--end:Menu link-->
    </div>
    <!--end:Menu item-->

    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu link-->

        <a class="menu-link" id="serviceButton">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Service</span>
        </a>
            
            <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu link-->

        <a class="menu-link" id="stepButton">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Step Button</span>
        </a>
            <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu link-->

        <a class="menu-link" id="languageButton">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Language</span>
        </a>
        <!--end:Menu link-->
    </div>
    <!--end:Menu item-->
</div>
