
<div class="menu-sub menu-sub-dropdown menu-sub-indention px-2 py-4 w-250px mh-75 overflow-auto">
    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu content-->
        <div class="menu-content "><span class="menu-section fs-5 fw-bolder ps-1 py-1">Ticket & Display Components</span></div>
        <!--end:Menu content-->
    </div>
    <!--end:Menu item-->

    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu link-->
        <a class="menu-link" id="textButton">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Ticket Text</span>
        </a>
        <!--end:Menu link-->
    </div>
    <!--end:Menu item-->

    <!--begin:Menu item-->
    <div class="menu-item">
        <!--begin:Menu link-->

        <a class="menu-link" id="frameButton">
            <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
            <span class="menu-title">Frame</span>
        </a>
        <!--end:Menu link-->
    </div>
    <!--end:Menu item-->

</div>
