<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <select class="form-control" id="qrType">
                <option value="app">QR for Kiosk App</option>
                <option value="wifi">QR for Wifi Network</option>
            </select>

            <div id="appInput" class="mt-3">
                <input type="text" class="form-control" id="appUrl" placeholder="http://192.168.1.2:1234">
                <button class="btn btn-primary mt-2" onclick="generateQRCode()">Generate QR Code</button>
            </div>

            <div id="wifiInput" class="mt-3" style="display: none;">
                <input type="text" class="form-control mt-2" id="wifiName" placeholder="WiFi Network Name">
                <input type="text" class="form-control mt-2" id="wifiPassword" placeholder="Password">
                <select class="form-control mt-2" id="wifiEncryption">
                    <option value="WPA">WPA/WPA2</option>
                    <option value="WEP">WEP</option>
                    <option value="nopass">No Encryption</option>
                </select>
                <button class="btn btn-primary mt-2" onclick="generateQRCode()">Generate QR Code</button>
            </div>
            <div id="qrcode" class="mt-3"></div>

        </div>
    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>

<script src="~/js/QrGen.js" />

